@model IEnumerable<OStore.Models.Customer.CustomerModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <h1 class="page-header">Marketing</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-body">
                <ul class="nav nav-tabs">

                    <li class="active">
                        <a href="#Customer" data-toggle="tab">Customer</a>
                    </li>
                    <li>
                        <a href="#Promotion" data-toggle="tab">Report promotion code</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" style="margin-top:30px;" id="Customer">

                        <div class="col-md-12">
                            @Html.Partial("_CustomerList", Model)
                        </div>
                        <div class="col-md-12">
                            @Html.Partial("_CustomerCreate", new OStore.Models.Customer.CustomerModel())
                        </div>

                        @*@Html.Action("CreateOrderManual", "SaleChannel")*@
                    </div>
                    <div class="tab-pane fade in" style="margin-top:30px;" id="Promotion">

                        @*@Html.Action("ImportOrder", "SaleChannel")*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
